@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Antonio";
  src: url("/assets/fonts/Antonio-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Antonio";
  src: url("/assets/fonts/Antonio-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Antonio";
  src: url("/assets/fonts/Antonio-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}

@layer components {
  .video-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
  }

  .video-preview {
    @apply relative h-64 cursor-pointer;
  }

  .video-preview-outline {
    @apply outline outline-1 outline-blue-500;
  }

  .centered-absolute {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }

  .video-text-container {
    @apply centered-absolute absolute flex flex-col text-center;
  }
  .video-preview-title {
    @apply z-10 text-3xl text-white;
  }
  .video-preview-type {
    @apply centered-absolute absolute z-20 text-3xl text-white;
  }

  .principal-heading {
    @apply text-center text-7xl font-bold md:text-9xl;
  }

  .clients-container {
    /* @apply grid grid-cols-2 gap-x-8 gap-y-8 px-12 py-4 md:grid-cols-3 lg:grid-cols-4; */
    @apply absolute left-0 flex gap-x-48 md:gap-x-[47rem] lg:gap-x-[61rem] xl:gap-x-[79rem];
  }

  .client-container {
    @apply h-[4rem] min-w-[4rem] md:h-[4rem] md:min-w-[6rem] lg:h-[8rem] lg:min-w-[8rem] xl:h-[9em] xl:min-w-[9em];
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: white;
  background-color: white;
  color: #1e1e1e;
  font-family: "Antonio", Helvetica, Arial, sans-serif;
  width: 100vw;
  max-width: 100%;
  min-width: 100%;

  height: 100vh;
  max-height: 100%;
  min-height: 100%;
}

.clients-container {
  grid-template-rows: repeat(10, minmax(0, 10vh));
}
