@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .video-container {
    @apply grid h-[60vh] grid-cols-1 gap-x-4 gap-y-4 px-8 pt-12 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:px-4;
  }

  .video-preview {
    @apply relative h-64 p-4 md:h-full;
  }

  .video-preview-outline {
    @apply outline outline-1 outline-blue-500;
  }

  .video-preview-title {
    @apply absolute bottom-8 z-10  font-bold text-white underline underline-offset-2;
  }

  .principal-heading {
    @apply text-6xl font-bold;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: white;
  background-color: #1e1e1e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100vw;
  max-width: 100%;
  min-width: 100%;

  height: 100vh;
  max-height: 100%;
  min-height: 100%;
}
